# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
src/.expo/

# dependencies
src/node_modules

# misc
src/.env.local
src/.env.development.local
src/.env.test.local
src/.env.production.local

src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*

# wikiarticlefile - from http://dumps.wikimedia.org/enwiki/latest/enwiki-latest-all-titles-in-ns0.gz
enwiki-latest-all-titles-in-ns0